<!--  --><% provide(:title, 'Edit') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="center">Update your profile.</h1>
    <%= form_for @user, html: { 'data-parsley-validate' => '' } do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", 
                              placeholder: "Name",
                              required: true,
                              "data-parsley-minlength" => "2",
                              "data-parsley-trigger" => 'blur' %>

      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control",
                               placeholder: "Email",
                               required: true,
                               "data-parsley-type" => "email",
                               "data-parsley-trigger" => 'blur' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control",
                                      placeholder: "Password",
                                      required: true,
                                      "data-parsley-minlength" => "6",
                                      "data-parsley-trigger" => 'blur' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control",
                                                   placeholder: "Confirm Password",
                                                   required: true,
                                                   "data-parsley-minlength" => "6", 
                                                   "data-parsley-equalto"=>"#user_password", 
                                                   "data-parsley-trigger" => 'blur' %>
                                                   
      <!-- <div class="checkbox">
        <label>
          <input type="checkbox">Recieve friendly emails.
        </label>
      </div> -->
      <%= f.submit "Save changes", class: "long btn btn-large btn-primary" %>
    <% end %> 
    <hr>
    <%= gravatar_for @user, size: 100 %>
    <a href="http://gravatar.com/emails">Change</a>
  </div>
</div>
