<!--  --><% provide(:title, 'Edit') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="center">Update your profile.</h1>
    <hr>
    <div class="row well">
      <div class="col-md-4">
        <%= gravatar_for @user, size: 150 %>
      </div>
      <div class="col-md-8 ">
        Your avatar is displayed through <abbr title="Globally Recognized Avatar">Gravatar</abbr>, a service which provides your avatars to be associated with your email address.
        <hr>
        <a type="button" class="btn btn-default pull-right" href="http://gravatar.com/emails" target="_blank"style="margin-top: 10px;">Change profile picture</a>
      </div>
    </div>
    <hr>
    <%= form_for @user, html: { 'data-parsley-validate' => '', 'id' => 'update_form' } do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>

      <div class="input-group">
        <%= f.text_field :name, class: "form-control", 
                                placeholder: "Name",
                                "data-parsley-minlength" => "2",
                                required: true,
                                disabled: true,
                                "data-parsley-group" => 'input1',
                                "data-parsley-errors-container"=>'#name_error_container',
                                "data-parsley-trigger" => 'blur' %>
        <span class="input-group-btn">
          <span id="edit-name" class="btn btn-primary">Edit</span>
        </span>
      </div>
      <div id="name_error_container"></div>

      <%= f.label :email %>
      <div class="input-group">
        <%= f.text_field :email, class: "form-control",
                                 placeholder: "Email",
                                 required: true,
                                 disabled: true,
                                 "data-parsley-type" => "email",
                                 "data-parsley-group" => 'input2',
                                 "data-parsley-errors-container"=>'#email_error_container',
                                 "data-parsley-trigger" => 'blur' %>
        <span class="input-group-btn">
          <span id="edit-email" class="btn btn-primary">Edit</span>
        </span>
      </div>
      <div id="email_error_container"></div> 

      <hr>
      <div id="update_confirmation" hidden>
        <div class="alert alert-warning">Please input your password to verify changes.</div>
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control",
                                        placeholder: "Password",
                                        required: true,
                                        "data-parsley-minlength" => "6",
                                        "data-parsley-trigger" => 'blur' %>

        <%= f.hidden_field :password_confirmation, class: "form-control",
                                                     placeholder: "Confirm Password",
                                                     required: true,
                                                     "data-parsley-minlength" => "6", 
                                                     "data-parsley-equalto"=>"#user_password", 
                                                     "data-parsley-trigger" => 'blur' %>
      </div>
      <!-- <div class="checkbox">
        <label>
          <input type="checkbox">Recieve friendly emails.
        </label>
      </div> -->
      <%= f.submit "Save changes", class: "long btn btn-large btn-primary" %>
    <% end %> 
    <hr>
  </div>
</div>
